# Tuples

A tuple is a data structure in Python that consists of an ordered collection of objects.

- It can store any datatype.
- Tuples are immutable, i.e., once a tuple is created then, it can't be modified.
- Some of the operations on tuples are similar to lists but, operations like `append`, `pop`,`insert`,`remove` etc. can't be applied to tuple because of its immutable nature.
- Elements of a tuple are generally enclosed between `()`.

Tuples are faster as compared to lists. Thus, its better to create a tuple than a list when, we are sure that our data is not going to be modified further.

***For Example :***

We can create a "*emp*"tuple with Employee id, Employee name, Age, Salary details, as follows :

In [1]:
emp = ("E001","Jhon",35, 40000)
print(emp)

('E001', 'Jhon', 35, 40000)

## Looping in Tuple

Looping in tuples is same as looping in list.

***For Example :***

We can print each element of the tuple as follows :

In [2]:
tups = (1,2,4,6,7,8)

for i in tups:
    print(i)

1
2
4
6
7
8

## Tuple with One Element

Just a element within `()` doesn't make a tuple rather, the datatype of such element is the datatype of the element. 

***For Example :***
In the following example an integer is enclosed withing `()` and so the datatype will be `integer` type :

In [5]:
test = (6)
print(type(test))

<class 'int'>

Now, if we just add a `,` after the single tuple element then, the datatype will change to `tuple` type :

In [6]:
test = (6,)
print(type(test))

<class 'tuple'>

## Tuple without Paranthesis

Even without the `()`, Python takes the comma separated values as a tuple.

***For Example :***

Even without `()`, the datatype of the variable containing comma separated values is `tuple` :

In [7]:
fruits = "Apple", "Kiwi", "Orange", "Mango"
print(type(fruits))

<class 'tuple'>

## Tuple Unpacking

We can assign each element of a tuple to individual variables. This process is called as "Tuple Unpacking".

***For Example :***

We can assign each car inside the following "*Cars*" tuple to individual variables, as follows :

In [8]:
cars = ("Ford", "Toyota", "Audi")

car1, car2, car3 = (cars)

print(car1)
print(car2)
print(car3)

Ford
Toyota
Audi

>***Note :*** The number of variables in tuple unpacking must be equal to the number of tuple elements, else error will be retured.

## Accessing Tuple Components

We can use the slicing operator (`[]`) to access the tuple compnents.

***Syntax :***
```python
tuple_name[index]
```

***Example :***

We can extract the "*Employee Name*" from the "*emp*" tuple as follows :

In [9]:
# Viewing "emp" tuple

print(emp)

('E001', 'Jhon', 35, 40000)

In [10]:
# Getting the employee name

print(emp[1])

Jhon

## Tuple Slicing

The slicing operator can be used to access sub-tuples as follows :

***Syntax :***
```python
tuple_name[start:stop-1]
```
***Example :***

Extracting first three elements from from "*emp*" tuple :

In [11]:
# Viewing the "emp" tuple 

print(emp)

('E001', 'Jhon', 35, 40000)

In [12]:
# Extracting first three elements:

print( emp[:3] )

('E001', 'Jhon', 35)

Similarly, we can extract the 2nd and 3rd element from the tuple as follows :

In [14]:
print( emp[1:3] )

('Jhon', 35)

## Length of a Tuple

`len()` function can be used to measure the length or, number of elements present in the tuple.

***Syntax :***
```python
len(tuple_name)
```

***Example :***

We can get the length of the "*emp*" tuple, as follows :

In [15]:
# Viewing "emp" table :

print(emp)

('E001', 'Jhon', 35, 40000)

In [16]:
# Finding length :

print( len(emp) )

4

## Combining Tuples

Two tuples can be concatenated as follows :
```python
print( tuple1+ tuple1 )
```
***Example :***
Create a tuple with "*employee education*" and "*department details*" and then combine the tuple with "*emp*" tuple.

In [17]:
# Creating "emp2" tuple:

emp2 = ("M.Com", "Accounts")

print(emp2)

('M.Com', 'Accounts')

In [18]:
# viewing "emp" tuple :

print(emp)

('E001', 'Jhon', 35, 40000)

In [19]:
# Combining "emp" with "emp2" :

print(emp + emp2)

('E001', 'Jhon', 35, 40000, 'M.Com', 'Accounts')

## List inside Tuple

We can add a list inside a tuple and can apply all the list methods to it.

***For Example :***

In the below list (inside a tuple) we can perform operations like `pop`, `append` etc. as shown :

In [21]:
tuplst = ("Asia",["India", "Russia", "China", "Indonesia", "Australia"])

print(tuplst)

('Asia', ['India', 'Russia', 'China', 'Indonesia', 'Australia'])

We can remove "Australia" from the inner list as follows :

In [22]:
# Popping "Australia"

tuplst[1].pop()

print(tuplst)

('Asia', ['India', 'Russia', 'China', 'Indonesia'])

Similarly, we can perform the `append` method in the inner list as follows :

In [23]:
# Appending "Nepal"

tuplst[1].append("Nepal")

print(tuplst)

('Asia', ['India', 'Russia', 'China', 'Indonesia', 'Nepal'])

## Aggregation over Tuples

We can also apply various aggregations functions upon the tuples, such as :

1. `sum()`
2. `count()`
3. `min()`
4. `max()`

## `sum()` over Tuples

We can sum all the elements of a numeric valued tuple, as follows :

In [1]:
# Given tuple

nt = (5,6,7,3,2,10)

# Sum of all elements

print(sum(nt))

33

## `max()` & `min()` over Tuples

- `min()`: returns the lowest value in the tuple
- `max()`: returns the highest value in the tuple

***Example :***
Creating a tuple of marks secured by students in "English" and then, find the minimum and maximum marks secured :

In [25]:
# Creating the tuple

English_Marks = (56,78,92,35,23,41,52,33)
print(English_Marks)

(56, 78, 92, 35, 23, 41, 52, 33)

In [26]:
# Getting maximum marks

print(max(English_Marks))

92

In [27]:
# Getting minimum marks

print(min(English_Marks))

23

## `range()` with Tuple

We can generate a tuple with the `range()` function, with the following syntax :

```python
tuple(range(start,stop, step))
```

***For Example:***

Generate a tuple containing 1 to 10

In [2]:
tups = tuple(range(1,11))
print(tups)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

similarly, we can print a tuple of even numbers from 1 to 10 as follows :

In [4]:
tupseven = tuple(range(0,11,2))
print(tupseven)

(0, 2, 4, 6, 8, 10)